@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    /* ### Primary */

    --Blue-200: hsl(265, 95%, 83%);
--Blue-100: hsl(225, 100%, 94%);
--Blue-700: hsl(245, 75%, 52%);

/* ### Neutral */

--Blue-50: hsl(225, 100%, 98%);
--Gray-600: hsl(224, 23%, 55%);
--Blue-950: hsl(223, 47%, 23%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display",sans-serif;
}
body{
    background: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    height: 100dvh;
    height: 100vh;
    background-color: var(--Blue-100);
    background-size: contain; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero{
    height: 75%;
    width: 22%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.54rem;
    box-shadow: 4px 3px 30px hsla(0, 0%, 0%, 0.418);
    
}
.hero-image img{
    height: 25vh;
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: min(1rem, 10%);
    text-align: center;
    gap: 0.4rem;
    height: auto;
    width: 100%;
    padding: 0 2rem;
    
}
.info p{
    font-size: 0.9vw;
    color: var(--Gray-600);
}
.info h3{
    font-size: 1.8vw;
    color: var(--Blue-950);
    font-weight: 900;
}
.annual{
    background-color: var(--Blue-50);
    height: 15%;
    width: 85%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

}
.icon{
    display: flex;
    flex-direction: row;
    gap: 0.8rem;

}
.annual img{
    height: 35px;
    width: 35px;
}
.price{
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.price h5{
    font-weight: 900;
}
.price p{
    font-size: 0.8vw;
    color: var(--Gray-600);
    font-weight: 700;
    letter-spacing: 0.4px;
}
.annual a {
    font-size: 0.8vw;
    color: var(--Blue-700);
    font-weight: 900;
}
.annual a:hover{
    text-decoration: none;
    color: hsl(265, 95%, 83%);
}
.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
    width: 85%;
    height: 16%;
}
.btn button{
    width: 100%;
    height: 50%;
    border: none;
    border-radius: 8px;
    background-color: var(--Blue-700);
    color: white;
    font-weight: 900;
    font-size: 0.8vw;
    box-shadow: 0 6px 10px hsl(265, 95%, 83%)
}
.btn button:hover{
    cursor: pointer;
    background-color: hsl(265, 95%, 83%);
    box-shadow: 0 6px 10px hsl(265, 95%, 83%)
}
.btn p {
    font-size: 0.8vw;
    font-weight: 900;
    color: var(--Gray-600);
    margin-bottom: 0.4rem;
}
.btn p:hover{
    color: var(--Blue-950);
    cursor: pointer;
}